@media screen and (min-width: $desktop-mini) and (max-width: ($desktop - 1)) {
  .wrapperv-departments {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;

    text-align: center;
  }
}
