//fonts
$bolt: 700;
$medium: 500;
$regular: 400;

// colors
$active-color: #0880ae;
$rating-color: #f26532;
$header-color: #252525;
$text-color: #252525;
$text-secondary-color: #727272;
$bg-base-main-color: #ffffff;
$bg-secondary-color: #f5f5f5;
