@media screen and (min-width: $tablet) and (max-width: ($desktop-mini - 1)) {
  .wrapper-quick-links {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;

    text-align: center;
  }
}
