.wrapper-nav {
  height: 100%;
}

.list-nav {
  display: flex;
}

.item-nav {
  height: 100%;

  &:not(:last-child) {
    margin-right: 24px;
  }
}
.link-nav {
  color: $header-color;
  display: block;

  padding-top: 36px;
  padding-bottom: 36px;

  font-weight: $medium;
  font-size: 14px;
  line-height: 24px;
}
